.cards {
   
    padding: 90px;
    font-size: 21px;
    color : rgb(255, 145, 0);
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 3px 6px 5px rgb(96, 217, 77);
    text-decoration: dotted;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    -webkit-text-stroke-color: darkgreen;
    -webkit-text-stroke-width: 1px;
   
 }  
