.content{
    position: relative;
    display: inline-block;
    text-align: center;
    margin-bottom: 120px;
    
 }
 
 
 .nombres{
   
    position: absolute;
    margin : 20px 65px;
    display: inline-block;
    text-align: center;
    background-color:  rgb(8, 0, 0);
 } 
 
 .especie {
       position : absolute;
       margin : 450px  65px;
       background-color: black;
 
 }
 
 .genero{
       position : absolute;
       margin : 500px 65px;
       background-color: black;
 }

 .link {
      text-decoration: none;
      color: inherit;
      -webkit-text-stroke-color: darkgreen;
 }