.barra{
    background-color: black;
    text-align: center;
    width : 300px;
    font-size: 28px;
    color: greenyellow;
    border-width: 15px;
 }

 .search{
    height: 70px;
    width: 150px;
    border-radius: 20px;
    display:center;
    cursor : pointer;
    color : greenyellow;
    background-color: gray;
    font-size:23px;
    
 }
 .margin{
   margin-right: 35px; 
 }
 

 .listAbout {
   
   position : absolute;
   list-style: none;
   display: flex;
 }

 .disable {
   color : white;
   font-size: 35px;
   background-color: blue;
   display : flex;
   cursor : pointer;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   list-style : none;
   text-shadow: 3px 6px 5px rgb(96, 217, 77);
   -webkit-text-stroke-color: darkgreen;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke: 2px black;
 }
 .disable:hover{
  box-shadow : 7px 7px 10px;
  color: white;
  transition: 1s;
}

 .active {
   color : rgb(106, 227, 26);
   font-size: 35px;
   background-color: blue;
   display : flex;
   cursor : pointer;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   list-style : none;
   text-shadow: 3px 6px 5px rgb(96, 217, 77);
   -webkit-text-stroke-color: darkgreen;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke: 2px black;
  
 }