.App {
   text-align: center;
}





#down {
   margin-top: 800px;
}
.mainImg{
   border-radius: 50px;
   box-shadow: 20px 30px 30px rgb(197, 127, 14);
   width: fit-content;
   margin-bottom: 60px;

}
