.App {
   text-align: center;
}

#boton{
   position: absolute;
   margin: 20px 420px;
   background-color:  red;
   font-size: 30px;
   text-align: center;
   cursor : pointer;   
}

#imgP{
   border-radius :30px;
   border-style: inset;
   border-color: greenyellow gold;
   border-width: 10px;
   margin: 0 50px;
   height: 550px;
   width: 400px;  
}

#down {
   margin-top: 800px;
}
